.ArtistsBox {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  padding: 20px;
}

.artist-container {
  border: solid 1px rgba(235, 233, 233, 0.282);
  border-radius: 20px;
  background-color: rgba(235, 233, 233, 0.091);
  border-radius: 5px 5px;
}

.artists-button {
  height: 100px;
  width: 100px;
  padding: 0 15px;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  outline: transparent;
}

.artists-button:hover {
  cursor: pointer;
}
