@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.artist-container {
	@include standard-boxstyle;
	border-radius: 5px 0 0 5px;
	padding-right: 35px;
	max-width: 855px;
	height: 766px;
}

.followedartist-title {
	@include infomessage-title;
}

.followedartist-message {
	@include infomessage-standard;
}

.artist-outerbox {
	margin: 19px;
	height: 630px;
	max-height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.artist-box {
	display: flex;
	flex-flow: row wrap;
}

.artist-box input {
	opacity: 0;
	background-color: transparent;
	cursor: pointer;
}

.artist-box input:checked {
	opacity: 0;
	background-color: transparent;
}

.artist-box input:checked ~ .box {
	@include standardimage-size;
	@include input-checkedbox;
	bottom: 135px;
	margin-left: 5px;
}

.artist-box input:checked ~ .artist-image {
	display: none;
}

.artist-box input:checked ~ .box .fa-heart {
	display: block;
	color: $main-color;
	font-size: 35px;
	text-align: center;
	position: relative;
	top: 20px;
}

.artist-innerbox {
	@include standardimage-size;
	margin: 3px;
}

.artist-name {
	font-size: 10px;
	color: white;
	background-color: rgba(19, 16, 43, 0.7);
	letter-spacing: 1px;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 66px;
	left: 6px;
	padding: 0 2px;
	height: 30px;
	width: 98px;
	z-index: 6;
}

.artist-checkbox {
	@include standardimage-size;
	bottom: 31px;
	left: 5px;
	position: relative;
	z-index: 6;
}

.artist-image {
	@include standardimage-size;
	position: relative;
	bottom: 140px;
	padding: 0;
	opacity: 0.7;
	margin: 5px;
	border-radius: 5%;
	border: $main-border;
}

.artist-image:hover,
.artist-name:hover {
	cursor: pointer;
}

.artist-container .missing-message {
	color: white;
	font-size: 14px;
	padding: 20px 6px;
}

.artist-container .missing-message > .fa-times-circle {
	color: rgb(240, 113, 113);
}

.artist-container .missing-message > a {
	color: $main-color;
}

.artist-container .missing-message > a:visited {
	color: $main-color;
}

.topartist-title {
	margin: 35px 10px 0;
	font-size: 17px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 0.6px;
}

.topartist-message {
	color: rgba(235, 233, 233, 0.8);
	font-size: 14px;
	margin: 2px 10px 20px;
	font-family: 'Nunito Sans', sans-serif;
}

.artists-icon {
	height: 45px;
	color: white;
}

@media screen and (max-width: 375px) {
	.artist-container  {
		text-align: center;
        width: 47%;
		margin-left: 203px;
		height: 100%;
	 
	}
}
