@import '../../styles/base/mixins.scss';
@import '../../styles/base/variables.scss';

.discover-container {
	@include standard-boxstyle;
	border-radius: 5px 0 0 5px;
	padding-right: 35px;
	max-width: 855px;
	height: 766px;
}

.discover-container h4 {
	margin: 20px 25px 0;
	font-size: 17px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 0.6px;
}

.discover-container .info-message {
	color: rgba(235, 233, 233, 0.8);
	font-size: 14px;
	margin: 2px 25px 0;
	font-family: 'Nunito Sans', sans-serif;
}

.discover-box {
	margin: 19px;
	display: flex;
	flex-flow: row wrap;
	height: 630px;
	max-height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.discover-box input {
	opacity: 0;
	background-color: transparent;
	cursor: pointer;
}

.discover-box input:checked {
	opacity: 0;
	background-color: transparent;
}

.discover-box input:checked ~ .box {
	@include standardimage-size;
	bottom: 130px;
	margin-left: 5px;
	border-radius: 5px;
	box-shadow: 0 0 2px 3px rgb(124, 240, 255);
	background-color: #15122e;
	position: relative;
	cursor: pointer;
	z-index: 5;
}

.discover-box input:checked ~ .discover-image {
	display: none;
}

.discover-box input:checked ~ .box .fa-heart {
	display: block;
	color: $main-color;
	font-size: 35px;
	text-align: center;
	position: relative;
	top: 20px;
}

.discover-innerbox {
	@include standardimage-size;
	margin: 3px;
}

.discover-name {
	font-size: 10px;
	color: white;
	background-color: rgba(19, 16, 43, 0.7);
	letter-spacing: 1px;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 70px;
	left: 5px;
	padding: 0 2px;
	height: 30px;
	width: 98px;
	z-index: 6;
}

.discover-checkbox {
	@include standardimage-size;
	bottom: 26px;
	margin-left: 5px;
	position: relative;
	z-index: 6;
}

.discover-image:hover,
.discover-name:hover {
	cursor: pointer;
}

.discover-image {
	@include standardimage-size;
	border-radius: 5px;
	border: 1px solid rgb(144, 134, 168);
	opacity: 0.7;
	outline: transparent;
	margin: 4px 4px 0px 4px;
	position: relative;

	bottom: 135px;
}

.fa-telegram-plane {
	font-size: 40px;
	color: $main-color;
	margin-bottom: 5px;
}

@media screen and (max-width: 890px) {
	.discover-container {
		border-radius: 5px;
	}
}

@media screen and (max-width: 750px) {
	.discover-container {
		border-radius: 5px 0 5px 5px;
		width: 500px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 625px) {
	.discover-container {
		width: 400px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 415px) {
	.discover-container {
		max-width: 330px;
	}
	.discover-box {
		height: 615px;
		max-height: 100%;
	}
}

@media screen and (max-width: 380px) {
	.discover-container {
		max-width: 300px;
	}
}

@media screen and (max-width: 360px) {
	.discover-container {
		max-width: 290px;
	}
}

@media screen and (max-width: 321px) {
	.discover-container {
		max-width: 255px;
	}
	.discover-box {
		height: 610px;
		flex-direction: row;
		justify-content: center;
	}
	.discover-innerbox {
		height: 160px;
		width: 160px;
		margin: 5px;
		bottom: 210px;
	}
	.discover-image {
		width: 160px;
		height: 160px;
		margin: 0;
		bottom: 210px;
	}
	.discover-checkbox {
		height: 160px;
		width: 160px;
		bottom: 45px;
		right: 5px;
	}
	.discover-box input:checked ~ .box {
		height: 160px;
		width: 160px;
		bottom: 210px;
		margin-left: 0px;
	}

	.discover-box input:checked ~ .box .fa-heart {
		font-size: 65px;
	}
	.discover-name {
		top: 105px;
		left: 0;
		font-size: 18px;
		height: 55px;
		width: 160px;
	}
}

@media screen and (max-width: 281px) {
	.discover-container {
		max-width: 225px;
	}
	.discover-box {
		height: 570px;
		max-height: 100%;
	}
}
