@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.genre-container {
	@include standard-boxstyle;
	border-radius: 0 0 0 5px;
	padding-right: 35px;
	max-width: 855px;
	width: 100%;
	height: 766px;
}
.genre-container h4 {
	@include infomessage-title;
}

.genre-container .info-message {
	@include infomessage-standard;
}

.genre-box {
	margin: 19px;
	display: flex;
	flex-flow: row wrap;
	height: 650px;
	max-height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.genre-box input {
	opacity: 0;
	background-color: transparent;
	cursor: pointer;
}

.genre-box input:checked {
	opacity: 0;
	background-color: transparent;
}

.genre-box input:checked ~ .box {
	@include standardimage-size;
	bottom: 99px;
	margin-left: 5px;
	border-radius: 5px;
	box-shadow: 0 0 2px 3px $main-color;
	background-color: #15122e;
	position: relative;
	cursor: pointer;
	z-index: 5;
}

.genre-box input:checked ~ .genre-image {
	display: none;
}

.genre-box input:checked ~ .box .fa-heart {
	display: block;
	color: $main-color;
	font-size: 35px;
	text-align: center;
	position: relative;
	top: 20px;
}

.genre-image:hover,
.genre-name:hover {
	cursor: pointer;
}

.genre-innerbox {
	@include standardimage-size;
	margin: 3px;
}

.genre-name {
	margin: 0 5px;
	width: 100px;
	letter-spacing: 0.5px;
	font-size: 10px;
	color: white;
	text-align: center;
	position: relative;
	top: 73px;
	height: 0;
	z-index: 6;
}

.genre-checkbox {
	@include standardimage-size;
	top: 5px;
	left: 5px;
	position: relative;
	z-index: 6;
}

.fa-heart {
	display: none;
}

.genre-image {
	position: relative;
	bottom: 105px;
	height: 100px;
	padding: 0;
	margin: 5px;
	border-radius: 5%;
	border: $main-border;
}

.fa-compact-disc {
	font-size: 40px;
	color: $main-color;
	margin-bottom: 5px;
}

@media screen and (max-width: 890px) {
	.genre-container {
		border-radius: 0 5px 5px 5px;
	}
	.genre-box {
		width: 100%;
	}
}

@media screen and (max-width: 750px) {
	.genre-container {
		width: 500px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 625px) {
	.genre-container {
		width: 400px;
	}
	.genre-box {
		height: 630px;
		max-height: 100%;
	}
}

@media screen and (max-width: 415px) {
	.genre-container {
		max-width: 330px;
	}
	.genre-box {
		height: 600px;
	}
}

@media screen and (max-width: 380px) {
	.genre-container {
		max-width: 300px;
	}
}

@media screen and (max-width: 360px) {
	.genre-container {
		max-width: 290px;
	}
}

@media screen and (max-width: 321px) {
	.genre-container {
		max-width: 255px;
	}
	.genre-box {
		height: 590px;
		flex-direction: row;
		justify-content: center;
	}
	.genre-innerbox {
		height: 160px;
		width: 160px;
		margin: 5px;
		bottom: 155px;
	}
	.genre-image {
		width: 160px;
		height: 160px;
		margin: 0;
		bottom: 155px;
	}
	.genre-checkbox {
		height: 160px;
		width: 160px;
		top: 6px;
		left: 4px;
	}
	.genre-box input:checked ~ .box {
		height: 160px;
		width: 160px;
		bottom: 155px;
		margin-left: 0px;
	}

	.genre-box input:checked ~ .box .fa-heart {
		font-size: 65px;
	}
	.genre-name {
		width: 160px;
		font-size: 18px;
		top: 115px;
		margin-left: 0;
	}
}

@media screen and (max-width: 281px) {
	.genre-container {
		max-width: 225px;
	}
	.genre-box {
		height: 555px;
	}
}
