@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.genre-container {
	@include standard-boxstyle;
	border-radius: 0 0 0 5px;
	padding-right: 35px;
	max-width: 855px;
	width: 100%;
	height: 766px;
}
.genre-container h4 {
	@include infomessage-title;
}

.genre-container .info-message {
	@include infomessage-standard;
}

.genre-box {
	margin: 19px;
	display: flex;
	flex-flow: row wrap;
	height: 650px;
	max-height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.genre-box input {
	opacity: 0;
	background-color: transparent;
	cursor: pointer;
}

.genre-box input:checked {
	opacity: 0;
	background-color: transparent;
}

.genre-box input:checked ~ .box {
	@include standardimage-size;
	@include input-checkedbox;
	bottom: 99px;
	margin-left: 5px;
}

.genre-box input:checked ~ .genre-image {
	display: none;
}

.genre-box input:checked ~ .box .fa-heart {
	display: block;
	color: $main-color;
	font-size: 35px;
	text-align: center;
	position: relative;
	top: 20px;
}

.genre-image:hover,
.genre-name:hover {
	cursor: pointer;
}

.genre-innerbox {
	@include standardimage-size;
	margin: 3px;
}

.genre-name {
	margin: 0 5px;
	width: 100px;
	letter-spacing: 0.5px;
	font-size: 10px;
	color: white;
	text-align: center;
	position: relative;
	top: 73px;
	height: 0;
	z-index: 6;
}

.genre-checkbox {
	@include standardimage-size;
	top: 5px;
	left: 5px;
	position: relative;
	z-index: 6;
}

.fa-heart {
	display: none;
}

.genre-image {
	position: relative;
	bottom: 105px;
	height: 100px;
	padding: 0;
	margin: 5px;
	border-radius: 5%;
	border: $main-border;
}

.fa-compact-disc {
	font-size: 40px;
	color: $main-color;
	margin-bottom: 5px;
}

@media screen and (max-width: 375px) {
  .genre-container  {
    text-align: center;
    width: 47%;
		margin-left: 203px;
		height: 100%;
  }

  
}
