$main-color: #8bffff;
$main-bgcolor: #050124;

@mixin animation-button {
	height: 45px;
	font: normal 700 1em/2.5em Arial, sans-serif;
	overflow: hidden;
	width: 150px;
	background-color: $main-color;
	border-radius: 50px;
	border-style: solid;
	border-color: $main-color;
	outline: transparent;
	text-transform: uppercase;
}

.preview-image {
  height: 200px;
	max-height: 100%;
	width: 200px;
	max-width: 100%;
	margin: 10px auto 30px;
	border-radius: 5px;
	border: 2px solid white;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
}

.inner-container {
	color: white;
	margin: 30px auto 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 80%;
}

.choices {
	text-align: center;
	background-color: rgba(235, 233, 233, 0.091);
	border: solid 1px rgba(235, 233, 233, 0.282);
	border-left: none;
	height: 766px;
	max-height: 100%;
	width: 450px;
	max-width: 100%;
	margin: 121px 0;
	border-radius: 0 5px 5px 0;
	display: flex;
}

.yourchoice {
	color: $main-color;
	font-size: 25px;
	font-family: 'Nunito Sans', sans-serif;
}

.categorypick {
	color: $main-color;
	font-size: 30px;
	text-transform: capitalize;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
}

.tab-title {
	display: flex;
	align-content: center;
	text-align: center;
	color: $main-color;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
}

h3.selection-title {
	color: $main-color;
	font-size: 30px;
	border-bottom: 1px solid rgba(235, 233, 233, 0.282);
	line-height: 2.5em;
	font-family: 'Nunito Sans', sans-serif;
	letter-spacing: 1.5px;
	margin: 0 auto;
  max-width: 1300px;
  width: 80%;
	padding-top: 80px;
}

.react-tabs {
	-webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
	border-bottom: 1px solid #aaa;
	margin: 0;
	padding: 0;
}

.react-tabs__tab {
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
	border-bottom: none;
	bottom: -0.5px;
	position: relative;
	list-style: none;
	padding: 25px 12px 95px;
	cursor: pointer;
	height: 105px;
	width: 140px;
}

.react-tabs__tab--selected {
	border: solid 1px rgba(235, 233, 233, 0.282);
	border-radius: 20px;
	background-color: rgba(235, 233, 233, 0.091);
	border-bottom: none;
	color: white;
	border-radius: 5px 5px 0 0;
	height: 105px;
	width: 140px;
}

.react-tabs__tab:focus {
	box-shadow: 0 0 5px hsl(208, 99%, 50%);
	border-color: hsl(208, 99%, 50%);
	outline: none;
}

.react-tabs__tab-panel {
	display: none;
}

.react-tabs__tab-panel--selected {
	display: block;
}

.boxresult {
	margin: auto;
	margin: 100px 30px 0 30px;
}

.happychoices {
	color: white;
	font-size: 3vw;
	padding: 0 10px;
	font-family: 'Nunito Sans', sans-serif;
	letter-spacing: 2px;
}

.filter-btn {
	@include animation-button;
	margin-top: 30px;
	width: 190px;
	cursor: pointer;
}

.filter-btn[disabled]:active,
.filter-btn[disabled],
.filter-btn[disabled]:hover {
	border: 2px solid ButtonFace;
	color: GrayText;
	cursor: inherit;
	background-color: #ddd;
	background: #ddd;
	.filter-secondlink {
		color: black;
	}
	.filter-firstlink {
		margin-top: 2px;
	}
}

.filter-btn,
.filter-firstlink {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.filter-firstlink {
	margin-top: 2px;
}
.filter-btn .filter-firstlink {
	color: $main-bgcolor;
	text-decoration: none;
	text-align: center;
	display: block; /* important */
}
.filter-btn:hover {
	background-color: transparent;
	border-color: $main-color;
	.filter-secondlink {
		color: $main-color;
	}
	.filter-firstlink {
		margin-top: -39px;
	}
}
@media screen and (max-width: 890px) {
	.inner-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	div.choices {
		width: 100%;
		min-height: 100%;
		height: 570px;
		margin-top: 20px;
		border-left: solid 1px rgba(235, 233, 233, 0.282);
		border-radius: 5px;
	}

	.boxresult {
		margin: auto;
	}

	.happychoices {
		font-size: 2em;
	}
}

@media screen and (max-width: 750px) {
	div.choices {
		width: 500px;
	}

	.react-tabs__tab {
		padding: 25px 12px 95px;
		width: 125px;
	}

	.react-tabs__tab--selected {
		padding: 25px 12px 95px;
		width: 125px;
	}
}

@media screen and (max-width: 625px) {
	div.choices {
		width: 400px;
	}

	// .tab-title .fas,
	// .tab-title .fab,
	// .artists-icon {
	// 	font-size: 35px;
	// }

	.react-tabs__tab {
		padding: 25px 12px 95px;
		width: 100px;
	}

	.react-tabs__tab--selected {
		padding: 25px 12px 95px;
		width: 100px;
	}

	.tab-title {
		font-size: 14px;
	}
}
