$main-color: #8bffff;
$main-bgcolor: #050124;

@mixin animation-button {
  height: 45px;
  font: normal 700 1em/2.5em Arial, sans-serif;
  overflow: hidden;
  width: 150px;
  background-color: $main-color;
  border-radius: 50px;
  border-style: solid;
  border-color: $main-color;
  outline: transparent;
  text-transform: uppercase;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "content choicebar";
}

.inner-container {
  grid-area: content;
  color: white;
  margin: 100px 50px 40px;
}

.choices {
  grid-area: choicebar;
  min-height: 100vh;
  text-align: center;
  background-color: rgba(10, 1, 36, 0.529);
}

.tab-title {
  display: flex;
  align-content: center;
  text-align: center;
  color: $main-color;
}

.inner-container h3 {
  color: $main-color;
  font-size: 30px;
  margin-bottom: 35px;
  border-bottom: 1px solid rgba(235, 233, 233, 0.282);
  line-height: 2.5em;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 2px;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0;
  padding: 0;
}

// Tab-button inneres
.react-tabs__tab {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -0.5px;
  position: relative;
  list-style: none;
  padding: 25px 12px 95px;
  cursor: pointer;
  height: 105px;
  width: 140px;
}

.react-tabs__tab--selected {
  border: solid 1px rgba(235, 233, 233, 0.282);
  border-radius: 20px;
  background-color: rgba(235, 233, 233, 0.091);
  border-bottom: none;
  color: white;
  border-radius: 5px 5px 0 0;
  height: 105px;
  width: 140px;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.boxresult {
  position: fixed;
  margin: auto;
  margin: 300px 30px 0 30px;
}

.happychoices {
  color: white;
  font-size: 3vw;
  padding: 15px 10px 0;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 2px;
}

.filter-btn {
  @include animation-button;
  margin-top: 30px;
}
.filter-btn,
.filter-firstlink {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.filter-firstlink {
  margin-top: 2px;
}
.filter-btn a {
  color: $main-bgcolor;
  text-decoration: none;
  text-align: center;
  display: block; /* important */
}
.filter-btn:hover {
  background-color: transparent;
  border-color: $main-color;
  a {
    color: $main-color;
  }
  .filter-firstlink {
    margin-top: -39px;
  }
}
.filter-btn a:hover {
  text-decoration: none;
}

@media screen and (max-width: 760px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .inner-container {
    color: white;
  }

  .choices {
    max-width: 100%;
    min-height: 0vh;
    position: relative;
    bottom: 0;
    text-align: center;
    background-color: rgba(10, 1, 36, 0.529);
  }

  .boxresult {
    margin: 0 auto;
    position: relative;
  }

  .happychoices {
    font-size: 30px;
    margin-top: 40px;
  }

  .filter-btn {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
