$main-color: #8bffff;
$main-bgcolor: #050124;

.container {
  display: block;
  height: 100vh;
  max-width: 600px;
  width: 60%;
  color:white;
  margin: 20px auto;
  margin-left: 100px;
}

.tab-title {
  display: flex;
  align-content: center;
  text-align: center;
  color:$main-color;

}

p {
  color: $main-color;
  font-size: 30px;
  margin-bottom: 60px;
  border-bottom: 3px solid rgba(235, 233, 233, 0.282);;
  line-height:3em;
  

}


.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 0px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 15px 12px 0;
  cursor: pointer;
  height: 100px;
  width: 150px
}

.react-tabs__tab--selected {
  border: solid 1px rgba(235, 233, 233, 0.282);
  border-radius: 20px;
  background-color:  rgba(235, 233, 233, 0.091);
  border-bottom: none;
 
  color: $main-bgcolor;
  border-radius: 5px 5px 0 0;
  height: 100px;
  width: 150px;
}

.react-tabs__tab:focus{
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

// .react-tabs__tab:focus:after {
//   content: "";
//   position: absolute;
//   height: 5px;
//   left: -4px;
//   right: -4px;
//   bottom: -5px;
//   background: #fff;
// }

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}


// .main-button {
//   height: 45px;
//   font: normal 700 1em Arial, sans-serif;
//   padding: 0 15px;
//   margin: 15px;
//   background-color: $main-color;
//   border-radius: 50px;
//   border-style: solid;
//   border-color: $main-color;
//   outline:transparent;
// }

// .main-button:hover {
//   cursor: pointer;
// }

.choices {
  display: block;
  position: absolute;
  top: 120px;
  right: 0;
  height: 100vh;
  width: 30%;
  text-align: center;
  padding-top: 60px;
  background-color: rgba(10, 1, 36, 0.454);
  background-color: rgba(10, 1, 36, 0.529);
 
}

.happychoices{
  color: white;
  font-size: 40px;
  margin-left: 20px;
  margin-right: 20px;
}


.filter-btn {
  height: 60px;
  font: normal 700 1em/4em Arial, sans-serif;
  overflow: hidden;
  width: 150px;
  margin: 15px;
  background-color: $main-color;
  border-radius: 50px;
  border-style: solid;
  border-color: $main-color;
  outline: transparent;
  text-transform: uppercase;
  
}


