@import '../../styles/base/mixins.scss';
@import '../../styles/base/variables.scss';

.subgenre-container {
	@include standard-boxstyle;
	border-radius: 5px 0 0 5px;
	padding-right: 35px;
	max-width: 855px;
	width: 100%;
	height: 766px;
}

.subgenre-container h4 {
	margin: 20px 25px 0;
	font-size: 17px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 0.6px;
}

.subgenre-container .info-message {
	color: rgba(235, 233, 233, 0.8);
	font-size: 14px;
	margin: 2px 25px 0;
	font-family: 'Nunito Sans', sans-serif;
}

.subgenre-outerbox {
	height: 630px;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 19px;
	width: 100%;
}

.subgenre-box {
	display: flex;
	flex-flow: row wrap;
	max-height: 100%;
}

.subgenre-box input {
	opacity: 0;
	background-color: transparent;
	cursor: pointer;
}

.subgenre-box input:checked {
	opacity: 0;
	background-color: transparent;
}

.subgenre-box input:checked ~ .box {
	@include standardimage-size;
	bottom: 209px;
	margin-left: 5px;
	border-radius: 5px;
	box-shadow: 0 0 2px 3px rgb(124, 240, 255);
	background-color: #15122e;
	position: relative;
	cursor: pointer;
	z-index: 5;
}

.subgenre-box input:checked ~ .box .fa-heart {
	display: block;
	color: $main-color;
	font-size: 35px;
	text-align: center;
	position: relative;
	top: 20px;
}

.subgenre-innerbox {
	@include standardimage-size;
	margin: 3px;
}

.subgenre-container .subgenre-name {
	@include standardimage-size;
	background-image: url('../../assets/aurora.jpeg');
	background-position: top;
	background-size: 235px;
	margin: 5px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(235, 233, 233, 0.282);
}

.subgenre-name > p {
	font-size: 10px;
	color: white;
	background-color: rgba(19, 16, 43, 0.7);
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 30px;
	padding: 0 2px;
	height: 30px;
	width: 98px;
	z-index: 6;
}

.subgenre-checkbox {
	@include standardimage-size;
	bottom: 105px;
	left: 5px;
	position: relative;
	z-index: 6;
}

.fa-heart {
	display: none;
}

.subgenre-container .missing-message {
	color: white;
	font-size: 14px;
	padding: 20px 6px;
}

.subgenre-container .missing-message > .fa-times-circle {
	color: rgb(240, 113, 113);
}

.subgenre-container .missing-message > a {
	color: $main-color;
}

.subgenre-container .missing-message > a:visited {
	color: $main-color;
}

.fa-drum {
	font-size: 40px;
	color: $main-color;
	margin-bottom: 5px;
}

@media screen and (max-width: 890px) {
	.subgenre-container {
		border-radius: 5px;
	}
}

@media screen and (max-width: 890px) {
	.subgenre-outerbox {
		width: 100%;
	}
}

@media screen and (max-width: 750px) {
	.subgenre-container {
		width: 500px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 625px) {
	.subgenre-container {
		width: 400px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 415px) {
	.subgenre-container {
		max-width: 330px;
	}
	.subgenre-outerbox {
		height: 610px;
		max-height: 100%;
	}
}

@media screen and (max-width: 380px) {
	.subgenre-container {
		max-width: 300px;
	}
	.subgenre-outerbox {
		height: 590px;
	}
}

@media screen and (max-width: 360px) {
	.subgenre-container {
		max-width: 290px;
	}
}

@media screen and (max-width: 321px) {
	.subgenre-container {
		max-width: 255px;
	}
	.subgenre-outerbox {
		height: 585px;
		max-height: 100%;
		flex-direction: row;
		justify-content: center;
	}
	.subgenre-box {
		justify-content: center;
	}
	.subgenre-container .subgenre-name {
		height: 160px;
		width: 160px;
	}
	.subgenre-innerbox {
		height: 160px;
		width: 160px;
		margin: 5px 0;
	}
	.subgenre-checkbox {
		height: 160px;
		width: 160px;
		bottom: 164px;
	}
	.subgenre-box input:checked ~ .box {
		height: 160px;
		width: 160px;
		bottom: 328px;
	}
	.subgenre-box input:checked ~ .box .fa-heart {
		font-size: 65px;
	}
	.subgenre-name > p {
		top: 42px;
		font-size: 18px;
		height: 55px;
		width: 160px;
	}
}

@media screen and (max-width: 281px) {
	.subgenre-container {
		max-width: 225px;
	}
}
