$main-color: #8bffff;
$main-bgcolor: #050124;

.usergenre-container {
	border: solid 1px rgba(235, 233, 233, 0.282);
	border-radius: 20px;
	background-color: rgba(235, 233, 233, 0.091);
	border-radius: 5px 5px;
}

.fa-drum {
	font-size: 40px;
	color: $main-color;
	margin-bottom: 5px;
}

.usergenre-box .usergenre-name {
	// background-image: url("https://cdn.pixabay.com/photo/2016/02/13/12/26/aurora-1197753__340.jpg");
	height: 100px;
	width: 100px;
	margin: 5px;
	background-image: linear-gradient(to bottom right, rgba(235, 233, 233, 0.282),transparent,#191744);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(235, 233, 233, 0.282);
}

.usergenre-name > p {
	width: 90%;
	color: white;
  text-align: center;
	justify-content: center;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-size: 10px;
}

.usergenre-checkbox {
	height: 100px;
	width: 100px;
	margin-top: -105px;
  margin-left: 5px;
	position: absolute;
	z-index: 6;
}

.usergenre-box {
	margin: 19px;
	display: flex;
	flex-flow: row wrap;
	max-width: 900px;
	color: white;
}

.usergenre-box input {
	opacity: 0;
	background-color: transparent;
	cursor: pointer;
}

.usergenre-box input:checked {
	opacity: 0;
	background-color: transparent;
}

.usergenre-box input:checked ~ .box {
	height: 98px;
	width: 98px;
	margin-top: -104px;
  margin-left: 6px;
	border-radius: 5px;
	box-shadow: 0 0 2px 3px rgb(124, 240, 255);
	position: absolute;
	cursor: pointer;
	z-index: 6;
}
