.filter-container {
  width: 100vw;
  height: 800px;
}

.filter-container .back-btn {
  margin: 10px;
  width: 70px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;;
}

.checkbox {
  display: flex;
  flex-wrap: wrap;
  width: 90px;
}

.checkbox-label {
  color:white;
  font-size: 10px;
}

.playlist-preview ul {
  color:white;
 list-style: none;}

// .playlist-box {
//   display:block
// }