@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.home-container .logo {
  width: 90%;
  max-width: 420px;
}

.getstarted-btn,
.first-link {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.getstarted-btn {
  @include animation-button;
  width: 150px;
  margin: 15px;
}

.getstarted-btn:hover .first-link {
  margin-top: -2.5em;
}

.getstarted-btn:hover {
  background-color: transparent;
  border: solid 3px $main-color;
  a {
    color: $main-color;
  }
}

.getstarted-btn a {
  color: $main-bgcolor;
  text-decoration: none;
  text-align: center;
  display: block; /* important */
}

.getstarted-btn a:hover {
  text-decoration: none;
}

