@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

h3.contact-title {
	@include maintitle-style;
	border-bottom: $main-border;
	line-height: 2.5em;
	margin: 0 auto;
	max-width: 900px;
  width: 100%;
	padding-top: 80px;
}

.contact-titlebox {
 margin: 0 30px;
}

.contact-container {
  min-height: 100vh;
	height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.big-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100vw;
  justify-content: center;
}

.upper-container {
  @include standard-boxstyle;
  height: 180px;
  border-radius: 5px 5px 0 0;
  margin: auto;
  border-bottom: transparent;
  display: flex;
  justify-content: center;

}

.botton-container {
  @include standard-boxstyle;
  height: 300px;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
.botton-container h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.botton-container h3 {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

.botton-container h4 {
  font-family: 'Nunito Sans', sans-serif;
  color: #aaa;
  font-weight: 700;
  font-size: 1.2rem;
}

.botton-container p {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  margin: 1rem;
  font-family: sans-serif;
  font-size: 0.9rem;
  text-align: justify;
  padding: 5px;
}

.ft-social-list  .fab, .ft-social-list  .fas{
 font-size: 50px;
 color: $main-color;
 margin-bottom: -15px;
}

.image-container img {
  @include standard-boxstyle;
  border-radius: 5px 5px;
  width: 200px;
  height: 200px;
  margin-top: -30px;
  border-radius: 50%;
  padding: 5px;
}

.Card {
  width: 400px;
  height: 480px;
  background-color: rgba(235, 186, 247, 0.1);
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px $main-bgcolor;
  margin: 50px 50px 20px;
}

.Card-2 {
  width: 400px;
  height: 480px;
  background-color: rgba(235, 186, 247, 0.1);
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px $main-bgcolor;
  margin: 50px 50px 20px;
}

.contact-container li {
  padding: 0 1.875rem 1.25rem;
  list-style: none;
}

.ft-social-list {
  margin-top: -100px;
  display: flex;
  justify-content: center;
  padding-top: 0.1rem;
  background-color: rgba(235, 186, 247, 0.1);
}

.ft-social-list li {
  margin-top: 0.5rem;
  font-size: 3.25rem;
  padding-right: 25px;
  padding-left: 25px;
}

@media screen and (max-width: 1180px) {
  .big-container {
    flex-direction: row;
  }

  .Card {
    margin: 50px auto;
  }
  .Card-2 {
    margin: 50px auto;
  }
  .home-button {
    @include animation-button;
    width: 150px;
  }
}


@media screen and (max-width: 900px) {
  .big-container {
    flex-direction: column;
  }
  h3.contact-title{
    margin: auto;
  }

  .Card {
    width: 350px;
    margin-top: 60px;
  }
  .Card-2 {
    margin-top: 30px;
    width: 350px;
  }
}

@media screen and (max-width: 580px) {
	.title {
		font-size: 25px;
	}
	.sub-title {
		color: rgba(235, 233, 233, 0.6);
		font-size: 15.5px;
		border-bottom: 1px solid rgba(235, 233, 233, 0.282);
		font-family: 'Nunito Sans', sans-serif;
		line-height: 2em;
	}
}
@media screen and (max-width: 320px) {

  .upper-container {
    display: flex;
    justify-content: center;
  }
  
  .Card {
    width: 280px;
  }
  .Card-2 {
    width: 280px;
  }
}

@media screen and (max-width: 280px) {
  
  .Card {
    width: 240px;
  }
  .Card-2 {
    width: 240px;
  }
  .ft-social-list  .fab, .ft-social-list  .fas{
    font-size: 40px;
   }
   @media screen and (max-width: 280px) {
  
    .Card {
      width: 240px;
    }
    .Card-2 {
      width: 240px;
    }
    .ft-social-list  .fab, .ft-social-list  .fas{
      font-size: 35px;
      padding: 0 15px;
     }
     .ft-social-list li {
      padding: 0;
      font-size: 30px;
    }
    .ft-social-list {
     position:relative;
     top: 50px;
    }
  }
}