@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

h3.contact-title {
	@include maintitle-style;
	border-bottom: $main-border;
	line-height: 2.5em;
	margin: 0 auto;
	width: 50%;
	padding-top: 60px;
 
}

.home-button,
.home-first {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.home-button {
  @include animation-button;
  font: normal 700 1em/2.9em Arial, sans-serif;
  width: 150px;
  margin: 50px auto;
 

  
}

.home-button a {
  color: $main-bgcolor;
  text-decoration: none;
  text-align: center;
  display: block; 
}

.home-button:hover {
  background-color: transparent;
  border: solid 3px $main-color;
  a {
    color: $main-color;
   
  }
}

.home-button a:hover {
  text-decoration: none;
}

.home-button:hover .home-first {
  margin-top: -3.0em;
}

.contact-container {
  min-height: 100vh;
	height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.big-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100vw;
  justify-content: center;
}

.upper-container {
  @include standard-boxstyle;
  height: 180px;
  border-radius: 5px 5px 0 0;
  margin: auto;
  border-bottom: transparent
}

.botton-container {
  @include standard-boxstyle;
  height: 300px;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
.botton-container h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.botton-container h3 {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

.botton-container h4 {
  font-family: 'Nunito Sans', sans-serif;
  color: #aaa;
  font-weight: 700;
  font-size: 1.2rem;
}

.botton-container p {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  margin: 1rem;
  font-family: sans-serif;
  font-size: 0.9rem;
  text-align: justify;
  
}

.ft-social-list  .fab, .ft-social-list  .fas{
 font-size: 50px;
 color: $main-color;
 margin-bottom: -15px
 
}

.image-container img {
  @include standard-boxstyle;
  border-radius: 5px 5px;
  width: 200px;
  height: 200px;
  margin-top: -70px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(95px, 45px);
}

.Card {
  width: 400px;
  height: 480px;
  background-color: rgba(235, 186, 247, 0.1);
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px $main-bgcolor;
  margin: 50px 40px 10px;
}

.Card-2 {
  width: 400px;
  height: 480px;
  background-color: rgba(235, 186, 247, 0.1);
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px $main-bgcolor;
  margin: 50px 40px 10px;
}

.contact-container li {
  padding: 0 1.875rem 1.25rem;
  list-style: none;
}

.ft-social-list {
  margin-top: -100px;
  display: flex;
  justify-content: center;
  padding-top: 0.1rem;
  background-color: rgba(235, 186, 247, 0.1);
}

.ft-social-list li {
  margin: 0.5rem;
  font-size: 3.25rem;
}

@media screen and (max-width: 1180px) {
  .big-container {
    flex-direction: row;
  }

  .Card {
    margin: 50px auto;
  }
  .Card-2 {
    margin: 50px auto;
  }
  .home-button {
    @include animation-button;
    width: 150px;
  }
}


@media screen and (max-width: 860px) {
  .big-container {
    flex-direction: row;
  }
}

@media screen and (max-width: 580px) {
  h3.contact-title{
    margin-left: 20px;
    width: 300px;
  }
  .big-container {
    flex-direction: column;
  }

  .Card {
    width: 350px;
    margin-top: 60px;
  }
  .Card-2 {
    margin-top: 30px;
    width: 350px;
  }
  .home-button {
    @include animation-button;
    width: 150px;
    margin-top: 40px;
    margin-left: 120px;
    height: 45px;
  }
}


