$main-color: #8bffff;
$main-bgcolor: #050124;

nav {
  color: $main-color;
  display: flex;
  justify-content: flex-end;
  min-height: 8vh;
  padding: 20px 20px 0 0;
  z-index: 11;
  position: absolute;
  top: 0;
  right: 0;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 17px;
  text-transform: uppercase;
}
.spacing-deco {
  margin-right: 15px;
}


.link {
  letter-spacing: 2px;
  padding-right: 15px;
}

.link a {
  color: $main-color;
  text-decoration: none;
}
.link a:hover {
  color: white;
}
.nav a:visited {
  color: $main-color;
}
.nav a {
  text-decoration: none;
}
nav button {
  margin: 0;
  background-color: transparent;
  color: $main-color;
  font-size: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-style: none;
  outline: transparent;
  cursor: pointer;
}

.hamburger-toggle {
  cursor: pointer;
  display: none;
  justify-content: flex-end;
  color: $main-color;
  margin: 15px 30px 0 0;
}
@media screen and (max-width: 700px) {
  nav {
    padding: 0 5px 0 0;
  }

  body {
    overflow-x: hidden;
  }
  .hamburger-toggle {
    display: block;
  }
  .navlinks {
    display: block;
    position: fixed;
    top: 0;
    right: 0px;
    min-height: 100vh;
    text-align: center;
    padding: 60px 0;
    background-color: rgb(10, 1, 36);
    background-color: rgba(10, 1, 36,0.90);
    transform: translateX(100%);
    z-index: 1;
  }
  .active {
    transition: transform 0.2s ease-out;
    transform: translateX(0%);
  }
  .navlinks .link {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    width: 250px;
  }
  .navlinks .link:hover {
    background: $main-color;
   
  }
  .navlinks .link:hover a 
  {color: $main-bgcolor;
   
  }
  .fa-times {
    position: absolute;
    left: 25px;
    top: 25px;
    font-size: 25px;
  }
  nav button {
    margin: 0;
    background-color: transparent;
    color: $main-color;
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    outline: transparent;
    cursor: pointer;
  }
  .spacing-deco {
    display: none;
  }
}
