$main-color: #8bffff;
$main-bgcolor: #050124;

* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: $main-bgcolor;
  background-image: url("../assets/background.svg");
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: auto;
  z-index: 0;
}
