$main-color: #8bffff;
$main-bgcolor: #050124;

.testdiv h2 {
  color: white;
  background-color: turquoise;
}

.testdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.testdiv button {
  font: normal 700 1em Arial, sans-serif;
  padding: 8px 15px;
  margin: 15px;
  background-color: $main-color;
  color: $main-bgcolor;
  border-radius: 50px;
  border-style: solid;
  border-color: $main-color;
  outline: transparent;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.testdiv button:hover {
  cursor: pointer;
}

.spotifyIcon {
  font-size: 1.5em;
  position: relative;
  top: 1.5px;
  color: #0d0a32;
  padding-right: 5px;
}
