$main-color: #8bffff;
$main-bgcolor: #050124;

@mixin animation-button {
	height: 45px;
	font: normal 700 1em/2.5em Arial, sans-serif;
	overflow: hidden;
	width: 300px;
	background-color: $main-color;
	border-radius: 50px;
	border-style: solid;
	border-color: $main-color;
	outline: transparent;
	text-transform: uppercase;
}

.intro-container {
	min-height: 100vh;
	height: 100%;
}

.intro-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 15%;
	height: 100%;
	min-height: 100vh;
}

.title-box {
	width: 100%;
}

.title {
	color: $main-color;
	font-size: 30px;
	font-family: 'Nunito Sans', sans-serif;
	letter-spacing: 2px;
	font-weight: bold;
	margin-top: 50px;
}

.sub-title {
	color: rgba(235, 233, 233, 0.6);
	font-size: 18px;
	border-bottom: 1px solid rgba(235, 233, 233, 0.282);
	font-family: 'Nunito Sans', sans-serif;
	line-height: 2em;
}

.button {
	height: 45px;
	margin: 15px;
	background-color: $main-color;
	border-radius: 50px;
	border-style: solid;
	border-color: $main-color;
	outline: transparent;
}

.intro-container button:hover {
	cursor: pointer;
}

.intro-btn {
	@include animation-button;
	cursor: pointer;
	margin-top: 40px;
	width: 230px;
}

.intro-btn,
.intro-firstlink {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.intro-firstlink {
	margin-top: 2px;
}

.intro-btn,
.intro-firstlink {
	color: $main-bgcolor;
	text-decoration: none;
	text-align: center;
	display: block; /* important */
}

.intro-btn:hover {
	background-color: transparent;
	border-color: $main-color;

	.intro-secondlink {
		color: $main-color;
	}
	.intro-firstlink {
		margin-top: -39px;
	}
}

.card .right {
	margin: 0 10px;
	color: $main-color;
	font-size: 5em !important;
}

.card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.card-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: solid $main-color;
	background-color: rgba(235, 233, 233, 0.1);
	font-family: 'Nunito Sans', sans-serif;
	letter-spacing: 0.6px;
	border-radius: 30px;
	width: 275px;
	height: 380px;
	margin-top: 30px;
	padding: 0 10px;
}

.select-category {
	margin: 0 auto;
	width: 190px;
	color: $main-color;
}

.hover-icon {
	margin: 0 auto;
	width: 190px;
	color: $main-color;
}

.create-playlist {
	margin: 0 auto;
	width: 190px;
	color: $main-color;
}

.p-style {
	font-weight: bold;
	color: $main-color;
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
	height: 50px;
}

@media screen and (max-width: 1180px) {
	.title {
		margin-top: 90px;
	}

	.card .right {
		display: none;
	}

	.card-box {
		margin: 30px 10px;
	}

	.intro-btn {
		margin: 20px auto 40px;
	}
}

@media screen and (max-width: 1100px) {
	.intro-container {
		flex-direction: column;
	}

	.card {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 580px) {
	.title {
		font-size: 25px;
	}

	.sub-title {
		color: rgba(235, 233, 233, 0.6);
		font-size: 15.5px;
		border-bottom: 1px solid rgba(235, 233, 233, 0.282);
		font-family: 'Nunito Sans', sans-serif;
		line-height: 2em;
	}
}
